body {
    overflow-x: hidden;
    background: #20212c;
    font-family: Roboto;
    color: #F7F2F2 !important;

}

/*_____________Header______________*/
.navbar {
    background: #17181f !important;
}

.header-title {
    font-size: 28px;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    color: #F7F2F2 !important;
    margin-left: 3%;
}

@media(max-width:768px) {
    .myNotes-hIcon {
        margin-left: 25%;
    }

    .header-title {
        font-size: 28px;
        font-family: Roboto;
        font-weight: 500;
        text-align: center;
        color: #F7F2F2 !important;
        margin-left: 3%;
    }
}

/*_____________Header______________*/
/*____________Search______________*/
.search-btn {
    border: 2px solid #F7F2F2;
    color: #F7F2F2;
}

@media(max-width:768px) {
    .search-input::placeholder {
        font-size: 12px;

    }

    .search-btn {
        font-size: 12px;
        border: 2px solid #F7F2F2;
        color: #F7F2F2;
    }
}

/*____________Search______________*/
/*___________Add Notes_____________*/
.addNotesContainer {
    margin-top: 7%;
}

@media(max-width:768px) {
    .addNotesContainer {
        margin-top: 40%;
    }
}

/*___________Add Notes_____________*/
.input-group-text {
    background-color: #17181f !important;
    cursor: pointer;
}

.add-note {
    background-color: #17181f !important;
    color: #F7F2F2 !important;
    cursor: pointer;
}

.add-note::placeholder {
    color: #F7F2F2 !important;
    font-size: 14px;
    font-style: italic;
    cursor: pointer;
}



/*____________popup btn___________*/
.add-notes-popup-btn {
    /* background: rgb(221, 85, 192); */
    background: linear-gradient(90deg, rgba(221, 85, 192, 1) 0%, rgba(248, 76, 96, 1) 10%, rgba(96, 20, 67, 1) 100%);
}

/*____________popup btn___________*/
/*_____________Cards Bg___________*/
.cards-bg {
    background: #17181f;
    box-shadow: 2px 4px 8px rgb(0 0 0 / 25%);
    border-radius: 15px;
}

.priority-badge {
    background: linear-gradient(90deg, rgba(221, 85, 192, 1) 0%, rgba(248, 76, 96, 1) 10%, rgba(96, 20, 67, 1) 100%);

    box-shadow: 2px 4px 8px rgb(0 0 0 / 25%);
    font-size: 14px;
    border-radius: 15px;
    padding: 2px;
}

.priority-badge-medium {
    background: #DEB113;
    box-shadow: 2px 4px 8px rgb(0 0 0 / 25%);
    font-size: 14px;
    border-radius: 15px;
    padding: 2px;
}

.priority-badge-low {
    background: #319817;
    box-shadow: 2px 4px 8px rgb(0 0 0 / 25%);
    font-size: 14px;
    border-radius: 15px;
    padding: 2px;
}

.notes-text {
    font-size: 16px;
    height: 85px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

@media(max-width:768px) {
    .select_priority {
        font-size: 14px;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.notes-text::-webkit-scrollbar {
    display: none;
}

.delete-btn {
    background: #20212c;
    border: 1px solid white;
    box-shadow: 2px 4px 8px rgb(0 0 0 / 25%);
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
}

.edit-btn {
    background: linear-gradient(90deg, rgba(221, 85, 192, 1) 0%, rgba(248, 76, 96, 1) 10%, rgba(96, 20, 67, 1) 100%);
    box-shadow: 2px 4px 8px rgb(0 0 0 / 25%);
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
}


/*_____________Cards Bg___________*/
/*______________Add Notes_________*/
.modal-footer,
.modal-header {
    border-top: none;
    border-bottom: none;
}

.modal-dialog,
.modal-content {
    background: #17181F;
    border-radius: 10px;
}

.noteInput {
    width: 100%;
    height: 10vh;
    background: #20212C;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #ffff;
    background: transparent url(./icons/BtnClose.png) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

input[type=radio] {
    visibility: hidden;
}

input[type=radio]>label {
    cursor: pointer;
}

input:checked+label {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
    color: #FFFFFF;
    font-weight: 600;
    font-style: italic;
    padding: 2px;
}

.btnModalDiscard {
    background: #20212C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 140px;
    height: 45px;
}

.btnModalAdd {
    background: #F84C60;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    width: 140px;
    height: 45px;
}

.btn:hover {
    color: #FFFFFF;
}

@media(max-width:768px) {
    .btnModalDiscard {

        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        width: 120px;
        height: 28px;
    }

    .btnModalAdd {

        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        width: 120px;
        height: 35px;
    }
}

/*______________Add Notes_________*/